<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Change password</title>
</head>
<body>

    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title"><p th:if="${isNew != true}"><a href="/">Home</a> / </p>Change Password</h2>
                        <form method="POST" action="/auth/change-password" class="register-form" id="register-form">
                            <div th:if="${isNew != true}" class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="old-pass" placeholder="Enter old password" required/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="new-pass" placeholder="Enter new password" required/>
                            </div>
                            <div class="form-group">
                              <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                              <input type="password" name="re-pass" placeholder="Enter confirm password" required/>
                          </div>

                            <p class="py-3 text-danger" th:if="${error}" th:text="${error}"></p>
                            <div class="form-group form-button">
                                <input type="submit" class="form-submit"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/images/signup-image.jpg" alt="sing up image"></figure>
                        <!-- <a href="/" class="signup-image-link">Go Back</a> -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
